.drop{
  margin: 7px 0;
  .ivu-dropdown-rel{
    text-align: center;width: 66px;padding-right: 6px;
  }
  .iconfont{
    font-size: 18px;
  }
  .ivu-dropdown-menu{
    color: #333;
    .iconfont{
      font-size: 13px !important;color: #333 !important;margin-right: 5px;
    }
  }
}

// 隐藏对话框的footer
// .footerHide{
//   .ivu-modal-footer{
//     display: none;
//   }
// }

.dfTooltip.ivu-tooltip{
  height: 100%;width: 100%;position: absolute;top: 0;left: 0;
  .ivu-tooltip-rel{
    height: 100%;width: 100%;position: absolute;top: 0;left: 0;
  }
  .ivu-icon,.ivu-badge{
    position: absolute;top: 0;left: 0;width: 100%;height: 100%;
  }
}

// 修改菜单默认背景色
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu){
  background:#000C17 !important;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened,.ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened .ivu-menu-submenu-title,.ivu-layout-sider,.ivu-menu-dark,.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item:hover, .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title:hover{
  background:#001529 !important;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu){
  background:#000C17 !important;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active{
  background:#2d8cf0 !important;
}

.ivu-menu-submenu-title>i{
  margin-right: 0 !important;
}